.sercicioBody{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:5rem;
    
}

.service_icon img {
    width:120px;
    margin-left: 20%;
    float: left;
    text-align: center;
  }

  @media (max-width: 575px){
    .service_icon img{
        width:100px;
        margin-left: 30%;
    }
  }